<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mewThread.voteSystem.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="mewThread.voteSystem.model.Project">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="session_id" jdbcType="INTEGER" property="sessionId" />
    <result column="project_order" jdbcType="INTEGER" property="projectOrder" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_type" jdbcType="VARCHAR" property="projectType" />
    <result column="college_name" jdbcType="INTEGER" property="collegeName" />
    <result column="project_man" jdbcType="VARCHAR" property="projectMan" />
    <result column="maney" jdbcType="DOUBLE" property="maney" />
    <result column="project_file" jdbcType="VARCHAR" property="projectFile" />
    <result column="project_info" jdbcType="VARCHAR" property="projectInfo" />
  </resultMap>
</mapper>