<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mewThread.voteSystem.dao.ResultMapper">
  <resultMap id="BaseResultMap" type="mewThread.voteSystem.model.Result">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="result_id" jdbcType="INTEGER" property="resultId" />
    <id column="out_vote" jdbcType="INTEGER" property="outVote" />
    <result column="session_id" jdbcType="INTEGER" property="sessionId" />
    <result column="session_name" jdbcType="VARCHAR" property="sessionName" />
    <result column="round_id" jdbcType="INTEGER" property="roundId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_order" jdbcType="INTEGER" property="projectOrder" />
    <result column="pass_vote" jdbcType="INTEGER" property="passVote" />
    <result column="abstention_vote" jdbcType="INTEGER" property="abstentionVote" />
    <result column="score" jdbcType="DOUBLE" property="score" />
  </resultMap>
</mapper>