<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mewThread.voteSystem.dao.SessionMapper">
  <resultMap id="BaseResultMap" type="mewThread.voteSystem.model.Session">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="session_id" jdbcType="INTEGER" property="sessionId" />
    <result column="session_name" jdbcType="VARCHAR" property="sessionName" />
    <result column="session_date" jdbcType="DATE" property="sessionDate" />
    <result column="vote_type" jdbcType="INTEGER" property="voteType" />
    <result column="user_number" jdbcType="INTEGER" property="userNumber" />
    <result column="session_state" jdbcType="INTEGER" property="sessionState" />
    <result column="auto_control" jdbcType="INTEGER" property="autoControl" />
    <result column="session_info" jdbcType="VARCHAR" property="sessionInfo" />
  </resultMap>
</mapper>